.valuz-pdf-text-layer {
  --min-font-size: 1;
  --text-scale-factor: calc(
    var(--total-scale-factor, 1) * var(--min-font-size)
  );
  --min-font-size-inv: calc(1 / var(--min-font-size));
  position: absolute;
  inset: 0;
  overflow: clip;
  line-height: 1;
  text-align: initial;
  transform-origin: 0 0;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

.valuz-pdf-text-layer :is(span, br) {
  position: absolute;
  color: transparent;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
  user-select: text;
}

.valuz-pdf-text-layer > :not(.markedContent),
.valuz-pdf-text-layer .markedContent span:not(.markedContent) {
  --font-height: 0;
  --scale-x: 1;
  --rotate: 0deg;
  z-index: 1;
  font-size: calc(var(--text-scale-factor) * var(--font-height));
  transform: rotate(var(--rotate)) scaleX(var(--scale-x))
    scale(var(--min-font-size-inv));
}

.valuz-pdf-text-layer .markedContent {
  display: contents;
}

.valuz-pdf-text-layer ::selection {
  background: rgb(37 99 235 / 25%);
  color: transparent;
}
